body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

button {
    margin-left: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.edit {
    background-color: #ffce00;
}

button.delete {
    background-color: #ff4444;
}
